  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bookdetail{
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;  
    background-color: rgba(15, 14, 14, 0.192);
}

.bookdetailCont{ 
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}


/*------left---portion----------*/

 

.detail-left{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: sticky;
  top: 130px;
  align-self: flex-start;
  bottom: 0; 
}

.tosty{
  position: absolute;
  top: -50px;
  z-index: 50;
  right: 0;
}
.detail-left-img{
  width: 250px;
  height: 280px;
  padding: 20px;
}

.detail-left img{
   border-radius: 10px;
  width: 100%;
  height: 260px;
  box-shadow: 4px 4px grey;
}

.heartBtn.dashboard{
  margin-top: 14px;
  float: right;
}
.rating-section {
  margin: 10px -10px 10px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
}

.rating-section p{
  margin: 0;
}

.stars {
  font-size: 24px;
  cursor: pointer;
  padding: 0;
}

.star {
  color: gray;
  margin: 0 2px;
}

.star.active {
  color: orange;
}


.comment-section{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.comment-section form{
  position: relative;
  width: 100%;
}

.comment-section textarea{
  /* height: 100px; */
  width: 100%;
  
  padding:  5px 5px 25px;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 5px;
  position: relative; 
  overflow-y: hidden;
}

.comment-section .saveBtn{ 
  position: absolute;
  width: 98.4%;
  right: 2px;
  bottom: 7px;
  border: none;
  padding: 2px 10px;
  float: right; 
  border-bottom-right-radius: 5px;
  border-bottom: 2px solid black;
}

.comment-section .saveBtn:hover{
  background-color: black;
  color: white;
}


/*-----------------------------------RIGHT SIDE------------------------------*/

.detail-right{  
    display: flex;  
    flex-direction: column;
    margin: 20px 10px 0 20px; 
    height: 100%; 
    /* padding: 1rem 2rem; */
}

.detail-right .title-detail{
  border-bottom: 2px solid black;
  margin-bottom: 40px;
}

.detail-right .paragraph{   
    text-align: justify; 
    height: 100%;  
    padding: 0 8px 0 0;
    /* overflow-x: hidden;
    overflow-y: scroll; */
    overflow-x: hidden;
    overflow-y: hidden;
}

.detail-right .paragraph h4{
  font-size: 1.5rem;
  font-family: italic;
}
.detail-right .paragraph .current-read{
  color: blue;
  cursor: pointer;
  margin-left: 5px;
  transition: 0.8s;
}

.paragraph .current-read:hover{
  color: white;
}

.detail-right .paragraph p{
    line-height: 25px;
    padding: 0 5px;
    font-weight: bold;
    
}

.detail-right .paragraph .complete-book{
  padding: 0.5rem 1rem;
  border-radius: 7px;
  border: 1px solid black;
  font-weight: 600;
  float: right;
  margin-right: 5px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.paragraph .complete-book:hover{
  color: white;
}


.paragraph .complete-book::after{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0;
  height: 100%; 
  transition: 0.5s linear;
}

.paragraph .complete-book::before{
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  width: 0;
  height: 100%; 
  transition: 0.5s linear;
}

.paragraph .complete-book:hover::after, .paragraph .complete-book:hover::before{
  width: 50%;
  background-color: black;
  color: white;

}


@media only screen and (max-width: 750px) {
  .bookdetail .bookdetailCont{
    flex-direction: column; 
      padding: 130px 0 0 0;
  } 
  .detail-left { 
    top: 0;
    align-self: center;
    position: relative;
}
  .bookdetail .detail-right{
    padding: 0;
  }
}

@media only screen and (max-width: 550px) {
  .bookdetail{
    padding: 10px 0 0 0;
  }

  .bookdetail .detail-right{
    padding: 0;
  } 
}



