  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bookdetail{
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100vw;
    height: 100vh;
    background-color: rgba(15, 14, 14, 0.192);
}

.bookdetailCont{ 
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 90%;
}


/*------left---portion----------*/

 

.detail-left{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.detail-left-img{
  width: 250px;
  height: 260px;
  padding: 20px;
}

.detail-left img{
   border-radius: 10px;
  width: 100%;
  height: 260px;
  box-shadow: 4px 4px grey;
}
.rating-section {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.stars {
  font-size: 24px;
  cursor: pointer;
}

.star {
  color: gray;
  margin: 0 2px;
}

.star.active {
  color: orange;
}


.comment-section{
  display: flex;
  flex-direction: column;
  position: relative;
}

.comment-section textarea{
  height: 50px;
  width: 100%;
  padding:  5px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 5px;
}

.saveBtn{
  position: absolute;
  right: 0;
  bottom: 4px;
}


/*-----------------------------------RIGHT SIDE------------------------------*/

.detail-right{ 

    display: flex; 
    align-items: center;
    flex-direction: column;
    margin: 20px 10px 0 20px;
    padding: 15px 10px;
    height: 100%;
    width: 75%;
}

.detail-right .paragraph{   
    text-align: justify;
    width: 70%;
    height: 100%;
    /* border: 1px solid grey; */
    overflow-x: hidden;
    overflow-y: scroll;
}


.detail-right .paragraph p{
    line-height: 25px;
    padding: 0 10px;
    font-weight: bold;
}