 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bookdetail{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.bookdetail p {
    margin-top: 20px;
    width: 58%;
}