.header {
  display: flex; 
  height: 70px;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  left: 0;
  backface-visibility: hidden;
  color: black;
  background-color: #697bed;
}

.logo {
  font-size: 1.9rem;
  font-family: Arial, Helvetica, sans-serif; 
  margin-bottom: 0 !important;
}

.logo h2{ 
  margin-bottom: 0 !important; 
}

.logo a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.logo a span {
  opacity: 0.6;
  font-weight: 600;
}



.header ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  margin-bottom: 0px !important;
}

.header ul li {
  margin: 0px 20px;
}

.header ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  display: inline-block;
  padding: 4px 7px;
  position: relative;
}

.header ul li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  color: #fff;
  z-index: 999;
  left: 0px;
  bottom: 0px;
}

.header ul li a:hover:after {
  width: 100%;
  transition: 1s;
}

 

.header li.active a {
  color: #ff5733; 
  font-weight: bold;
}

ul #login {
  display: block;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  transition: all 0.35s;
  color: #000;
  font-weight: 900;
}

ul #login:hover {
  background-color: #000;
  color: #fff;
}


.header form {
  position: relative;
  width: 26%;
  margin-left: 5px;
}

.header form input {
  width: 100%;
  padding: 0.5rem 30px 0.5rem 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid #e3e3e3;
  outline: none;
  font-size: 1rem;
}

.header button {
  position: absolute;
  width: 15%;
  right: 0;
  top: 0;
  background-color: #e3e3e3;
  height: 100%;
  display: flex;  
  justify-content: center;
  align-items: center;
  border: none;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.header label svg {
  font-size: 2rem;
  cursor: pointer;
}


@media only screen and (max-width: 950px) {
  .header ul li {
    margin: 0px 5px;
  }
}

@media only screen and (max-width: 700px){
  .header ul{
    flex-direction: column;
  }

  .header ul li a{
    color: black;
  }

   
}