.header {
    display: flex;
    width: 100vw;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: rgb(245, 184, 245);
    /* background-color: #c8c6d2; */
    backface-visibility: hidden;
    color: black;
}

.logo {

    font-size: 1.9rem;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: dotted;
    text-decoration-color: black;

}

.logo span {
    opacity: 0.7;
    font-weight: 600;
}

.ixon {
    width: 50px;
    font-size: 20px;
}

.header ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    list-style-type: none;
}

.header ul li {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    color: white;
}


ul #login {
    box-sizing: border-box;
    height: 40px;
    width: 80px; 
    border-radius: 5px;
    padding-top: 8px;
    background-color: white;
}

ul #login:hover {  
    background-color: rgba(34, 33, 37, 0.1);
}


  
.header ul li a {
    color: black;
    text-decoration: none;
}