.userProfile { 
    /* width: 250px; */
    padding: 0 5px;
    position: absolute;
    right: 10px;
    top: 70px; 
    border-radius: 8px; 
    border-radius: 8px; 
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.userCnt {  
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    flex-direction: column; 
}

/* -----------------------------------update comoponent */
.updateProfile{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 82%;
   height: 100%;
   z-index: 1000;
   background-color: rgba(255, 255, 255);
   color: black;
   display: flex;
   align-items: center;
   flex-direction: column;
}

.updateProfile form{
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}

.updateProfile button{
    padding: 0.2rem 1.4rem;
    margin: 20px 0;
    border-radius: 3px;
    border: none;
    background-color: black;
    color: white;
}

.updateProfile .buttons{
   display: flex;
   justify-content: space-evenly;
   width: 80%;
}

.updateProfile .buttons button{
    width: 40%;
}


/* ------------------------------------------------------ */
.userCnt .user-name{
    font-weight: 700;
    font-size: 2rem;
    background-color: white;
    width: 100%;
    color: black;
    text-align: center;
    margin: 5px 0;
    padding: 6px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.userCnt P {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid white;
    padding-bottom: 12PX;
    margin-bottom: 10px; 
}
  
.userCnt .drop-down-friendlist {
    display: flex; 
    flex-direction: column;
    transition: all 0.4s linear;
    padding-bottom: 10px; 
    width: 100%; 
}



.drop-down-friendlist li {
    padding: 3px 5px;
    cursor: pointer;
    background-color: grey;
    color: black;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin-bottom: 5px; 
    border-bottom: 2px solid white;
}

.drop-down-friendlist li:hover {
    background-color: rgb(102, 95, 95) 
}

.userProfile-btn{
    display: flex;
    justify-content: space-between;
    width: 100%; 
    margin: 10px;
}

.userProfile-btn button {
    position: relative;
    z-index: 1;
    bottom: 0;
    width: 40%;
    font-weight: 600;
    font-size: 1rem;
    padding: 3px 5px;  
    border: none;
    border-radius: 5px;
    color: black;
    background-color: white; 
    cursor: pointer; 
    overflow: hidden;
    transition: 1s;
}

.userProfile-btn button::before{
    content: "";
    position: absolute; 
    bottom: 0;
    right: 0;
    z-index: -1;
    height: 0;
    width: 100%; 
    color: white;
    transition: all 0.6s linear;
}

.userProfile-btn .logout-btn::before{
   background-color: red;
   width: 100%;
}

.userProfile-btn .close-btn::before{
    background-color: blue;
 }

.userProfile-btn button:hover{
    color: white;
    border: none;
}
.userProfile-btn button:hover::before{
    height: 100%; 
}