.userProfile { 
    width: 250px;
    padding: 0 5px;
    position: absolute;
    right: 10px;
    top: 70px;
    display: flex; 
    border-radius: 8px; 
    border-radius: 8px;
    /* background-color: rgba(15, 14, 14, 0.292); */
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
}

.userCnt { 
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 0;
}

.userCnt .user-name{
    font-weight: 700;
    font-size: 34px;
    background-color: white;
    width: 100%;
    color: black;
    text-align: center;
    margin: 5px 0;
    padding: 6px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.userCnt P {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid white;
    padding-bottom: 12PX;
    margin-bottom: 10px;
}
  
.userCnt .drop-down-friendlist {
    display: flex; 
    flex-direction: column;
    transition: all 0.4s linear;
    padding-bottom: 10px; 
    width: 100%; 
}



.drop-down-friendlist li {
    padding: 3px 5px;
    cursor: pointer;
    background-color: grey;
    color: black;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin-bottom: 5px; 
}

.drop-down-friendlist li:hover {
    background-color: rgb(102, 95, 95) 
}

.userProfile-btn{
    display: flex;
    justify-content: center;
    width: 100%; 
    margin-bottom: 10px;
}

.userProfile-btn button {
    font-weight: 600;
    font-size: 20PX;
    padding: 6px 12px; 
    border: 1px solid black;
    border-radius: 2px;
    color: black;
    background-color: white;
}

.userProfile-btn button:hover {
    cursor: pointer; 
     background-color: rgba(255, 255, 255, 0.8);
}