* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
  
.dashboardCont {
   display: flex;
   /* justify-content: center; */
   justify-content: flex-end;
   align-items: center;
   position: relative;    
   padding: 0 1.3rem; 
}
 
.dashboardCont .left {
   height: 130vh;
   width: 17%;
   color: white;
   background-color: black;
   position: fixed;
   top: 70px;
   left: 0;
   border: 1px solid black;
}

.dashboardCont .left h3 {
   width: 100%;
   font-weight: 700;
   border-radius: 0;
   font-size: 26px;
   margin: 50px 0 20px;
   color: grey;
   text-align: center;
}

.dashboardCont .left h4 {
   border-bottom: 1px solid;
   margin-bottom: 20px;
   padding: 0 5px;
}

.dashboardCont .left .log {
   padding: 0 20px;
}


.dashboardCont .left button{
   display: none;
}

.dashboardCont .left .log p {
   padding: 10px 5px;
   
}

.dashboardCont .left .log p:hover {
   font-weight: 500;
   background-color: white;
   color: black;
   cursor: pointer;
    
}

.dashboardCont .left span {
   float: right;
}


/*----------------------------RIGHT POTION---------------------*/
.dashboardCont .right { 
   box-sizing: border-box;
   position: relative;  
   padding: 35px;
   width: 83%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   /* flex-wrap: wrap; */
}

.dashboardCont .right::after {
   content: url("../images//dashbBg.jpg");
   position: fixed;
   z-index: -1;
   opacity: 0.2;
   /* overflow: hidden; */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   top: 0;
   right: 0;
   width: 100%;
   /* height: 40vh; */
}

.dashboardCont .right .dashboard-heading{
  
   display: flex;
   align-items: center;
   flex-direction: column;
}


.dashboardCont .right h3 {
   margin: 20px;
   padding: 5px 30px;
   background-color: black;
   color: white; 
   position: relative;
   right: 0;
   top: 0; 
   animation: animat 1.4s linear; 
}
 

 @keyframes animat{
   0%{
      top: -100px;
   }100%{
      top: 0;
} 
}


.dashboardCont .right h2 { 
   position: relative; 
   left: 0;
   text-transform: uppercase;
   font-size: 3vw;
   color: #000;
   -webkit-text-stroke: 0.1vw #cccfd1b4; 
   animation: animation 2s linear;  
   opacity: 1;
 }

 @keyframes animation{
   0%{
      opacity: 0;
   }100%{
      opacity: 1;
} 
}

/* .dashboardCont .right h2::after{ 
   content: attr(data-text);
   position: absolute;
   text-transform: uppercase;
   top: 0;
   left: 0; 
   width: 0; 
   color: #697bed;
   -webkit-text-stroke: 0vw #cccfd1;
   border-right: 2px solid #697bed;
   overflow: hidden;
   animation: animat 6s linear infinite; 
} */


 

.right .liked-books {
   display: flex;
   align-items: center;
   justify-content: center; 
   flex-wrap: wrap;
   width: 100%;
}

.right .liked-books .liked-book {
   color: black; 
   margin: 10px 20px 20px;
}

.liked-books .liked-book h4 {
   text-align: center;
   font-size: 1rem;
   padding: 0 0 10px;
}

.liked-books .liked-book img {
   height: 220px;
   width: 190px;
   border-radius: 5px;
}


/* .......... New Css ..........  */

.liked-book {
   background-color: #fff;
   padding: 20px 30px;
   border-radius: 8px;
   box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}


/* -----------------------RESPONSIVENESS--------------- */

@media only screen and (max-width: 1150px) {
   
   .dashboardCont .left p {
      text-align: center;
   }
}

@media only screen and (max-width: 750px) {
   
   .dashboardCont{
      padding: 0;
   }
   .dashboardCont .left {
      width: 35%;
      padding: 0;
   }

   .dashboardCont .left .log, .dashboardCont .left h3, .dashboardCont .left p{
      padding: 0 5%;
   }

   .dashboardCont .right {
      width: 65%;
   }

   .liked-books .liked-book img {
      height: 180px;
      width: 150px;
   }

   .right .liked-books .liked-book {
      color: black;
      /* height: 280px; */
      /* width: 200px; */
      margin: 5px 5px 10px;
   }
}




@media only screen and (max-width: 450px) {
   .dashboardCont{
      flex-direction: column;
   }

   .dashboardCont .left{
      position: relative;
      width: 100%;
      height: 40%; 
      margin-bottom: 10px;
      /* top: -262px; */
   }

   .dashboardCont .left h4{
      text-align: center;
      /* display: none; */
   }

   .dashboardCont .left button{
      display: block;
      text-align: center;
      cursor: pointer;
      padding: 0.2rem 1rem; 
      width: 100%;
      font-weight: bold;
      font-size: 1.8rem;
      text-shadow: #000;
   }

   .dashboardCont .right h3,.dashboardCont .right h2{
      display: none
   }
   .dashboardCont .right{
      right: 0; 

   }
   

}