.book {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.products{ 
    padding: 40px 30px 0 30px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row; 
    text-align: center;
    /* height: 800px; */
}


.product{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 13px;
    height: 260px;
    width: 220px;
    margin: 20px 8px;
    border: none; 
    box-shadow: 3px  6px  rgba(7, 7, 7, 0.5); 
    transition: all 0.3s linear;
    /* box-shadow: 1px  7px  #ee9ca7;  */
}

.product:hover{
    margin-top: 5px;
    
    box-shadow: 3px  6px  5px rgba(7, 7, 7, 0.5); 
}

.product h2{
    margin-bottom: 0; 
    color: black;
    font-size: bold;
    
}

.product p{
    margin-bottom: 10px;
    margin-top: 0; 
    font-size: 0.8rem;
}

.product h2{
    font-size: 1.4rem;
}

.product img{
    height: 150px;
    width: 120px;
    border-radius: 8px;
    transition: all 0.4s linear;
    box-shadow: 3px 3px 5px  #000000; 
}

.product img:hover{
    transform: scale(1.1);
}
 
.product .footers{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    width: 100%;
    background: #ee9ca7;  
    margin-bottom: -4px;
    margin-top: 5px;
    padding: 0 15px;
    padding-top: 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.4s linear;
}

 
.heartBtn, .shareBtn{
  border: none; 
  background: transparent; 
  cursor: pointer; 
}

.heartIcon, .shareIcon {
    /* background-color: rgb(85, 76, 76); */
    color: black;
    transition: all 1s linear;  
}

.heartBtn .heartIcon:hover {
    /* color:white; */
    transform: scale(0.8);
}


