*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}

.home{ 
    display: flex; 
    justify-content: center;
    align-items: center;  
    padding-top: 70px;
    flex-direction: column;
}

.main-bg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    /* width: 100vw; */
}
.main-bg .left{
    width: 45%;
}
.main-bg .left h1{
    font-size: 3.5rem;
    margin-bottom: 1rem;
}
.main-bg .left p{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.main-bg .left button{
    text-decoration: none;
    background-color: #000;
    padding: 1rem;
    border-radius: 0.5rem;
    color: #fff;
    display: inline-block;
}

.main-bg img{
    height: 100%;
    width: 100%;
}

 @media only screen and (max-width:750px) {

    .home {
        padding-top: 150px;
    }
    .main-bg{
        flex-direction: column;
        /* background-color: red; */
    }

    .main-bg .left{
         width: 100%; 
    }

    .main-bg .left h1{
        text-align: center;
        font-size: 2.2rem; 
    }

    .main-bg .left p{
        text-align: center;
    }

    .main-bg .left button{
        width: 100%;
    }
 }


 @media only screen and (max-width:750px) {

    .home {
        margin-top: 20px;
    }
}

@media only screen and (max-width:500px) {

    .home {
  padding-top: 70px;
    }
}