 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.searchInside {
  margin-top: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
}

.row-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 20px 40px;
    padding: 20px 10px 20px 20px; 
    border-radius: 10px;
    background-color: #f9f9f9;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    width: 360px;
    height: 250px; 
}
 
 
.searced-img img{
 margin-top: -140px;
  border-radius: 10px;
  transition: all 0.45s linear;
  height: 180px;
  width: 130px;
  margin-bottom: 30px; 
  cursor: pointer;
}

 /* transition: all 0.45s linear; */
.searced-img img:hover{
  transform: scale(1.14);
 
}

.searchedCnt {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: flex-start;
  margin-left: 20px;
  height: 100%;
}

.searchedCnt h2, p {
  margin: 5px 0 ;
}
 
.row-img .read-more{
   cursor: pointer; 
    border: none;
    background-color: none;
    margin-left: 15px;
}

.searchedCnt .description{
  font-size: 12px;
}

.searchedCnt a{
  padding-left: 5px;
  text-decoration: none;
}
.searchedCnt .thumbBtn {
  border: none;
  cursor: pointer;
}

.searchedCnt .thumb-icon{
  background: transparent;
  color: black;
}



@media only screen and (max-width: 500px) {
  .searchInside{
    margin-top: 150px;
  }
}