*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.aboutCnt {
    width: 50%;
    height: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    background: #ee9ca7;
    padding: 20px;
    border-radius: 20px; 
    background: -webkit-linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  );
  background: linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  );

}

.aboutCnt h2, h3{
    margin-bottom: 10px;
    text-align: center;
    background-color: white;
    border-radius: 6px;
    width: 260px;
}

.aboutCnt h3{
    width: 100px;
}

