* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer { 
    width: 100vw;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px; 
    position: block;
    background-color: #000; 
}

 
.footer .container { 
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer .contact{ 
    display: flex;
    flex-direction: column;
    text-align: center; 
    color: rgba(255, 255, 255, 0.596);
}

.footer .contact h4,.contact p{
    padding: 0;
    margin: 0;
}

.footer .container p{
    font-size: 0.9rem;
}
 


.footer .container ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0 !important;
}

.footer ul li {
    list-style-type: none;
    padding: 5px 5px;
    margin: 0px 8px;
    border: solid 1px #fff;
    border-radius: 50%;
    background-color: white;
    align-items: center;
    /* margin: 10px; */

}

.footer a {
    color: black;
    font-size: 15px;
}

.footer li:hover {
    background-color: #000;
    transition: 1s;
}

.footer li:hover a {
    color: #fff;
}

 