*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{ 
    width: 100vw;
    height: 125px;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
    /* background-color: rgba(112, 108, 108, 0.411); */
    background-color: rgba(15, 14, 14, 0.192);
}

.footer .container{
    width: 40%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: ; */
}


.footer .container ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer ul li{
    list-style-type: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    align-items: center;
    margin: 10px;
    padding-top: 5px;
    padding-left: 5px; 
}

.footer ul li:hover{  
    background-color: black;
}

.footer a{ 
    color: black; 
}

.footer a:hover{ 
    color: white; 
}

